body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgb(110, 140, 251);
    color: #ecf0f1;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

header nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: red;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
}

img {
	height: 21vh;
}

.product-card h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.product-card p {
    color: #7f8c8d;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #2980b9;
}

footer {
    background-color: rgb(60, 70, 123);
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info, .social-links {
    margin: 10px;
}

.social-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: rgb(255, 193, 7);
}